#verbs-container{
    margin: 0 35%;
}
.verbs-answer{
    display: block;
}

.rightAnswer, .rightAnswer :hover{
background-color: #16ab04;
border-color:#16ab04;
color: #fff;
}

.wrongAnswer, .wrongAnswer :hover{
    background-color: #b33030;
    border-color:#b33030;
    color: #fff;
}

#next{
    margin-top:  8rem;
    cursor: pointer;
    color: green;
}

.subheader{
    height: 150px;
    border-bottom: 1px solid rgba(255, 0, 0, 0.714);
    text-align: center;
}

.subheader h2{
    font-size: 50px;
    font-weight: 200;
    line-height: 140px;
    color: red;
}
#pie{
    background-color: #333;
    padding-top: 5px;
    padding-bottom: 40px;
    margin-top: 30px;
    text-align: center;
    color:white;
}

#pie .subheader{
    color:white;
}

#pie ul{
    margin: 0px auto;
    width: 220px;
    display: block;
    list-style: none;
    margin-bottom: 20px
}

#pie li{
    float:left;
    margin-left: 20px;
    margin-right: 20px;
}

#pie .subheader h2{
    color:white;   
}
#pie p{
    margin-top: 5px;
}
#pie li:hover{
    opacity: 0.8;
    transform: scale(1.2,1.2);
}